.footer {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: $dark;

  display: flex;
  justify-content: space-between;

  color: $text;
  font-size: 1.4rem;

  &__left {
    p {
      margin-top: 1.5rem;
    }
  }

  &__contact {
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-top: 1.5rem;
    }

    p {
      margin-left: 2rem;
    }
  }

  &--home {
    margin-top: -5vh;
  }
}
